body {
  color: #444;
  font-family: 'Arvo', serif !important;
}

form a {
  margin-left: 1rem;
}

.container {
  margin-top: 3rem;
}

.btn {
  margin: 1rem 0.25rem 1rem 0.25rem;
}

li {
  margin: 1rem 0 1rem 0;
  filter: drop-shadow(0px 2px 2px #333);
}

li:hover {
  filter: drop-shadow(0px 2px 2px #8aa6d5);
}

ul a {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}

ul a:hover {
  text-decoration: none;
  color: #444;
}

h3 {
  padding: 1rem 0.25rem 0.25rem 0.25rem;
}

h6 {
  padding: 3rem 0.25rem 1rem 2rem;
}

h7 {
  margin-left: 1rem;
  font-size: 0.75rem;
}

.indexLink {
  margin-left: 1.5rem;
}

.listTags {
  margin-left: 1rem;
  color: #777;
  font-size: 0.9rem;
}

p {
  padding: 1rem 0.25rem 1rem 1rem;
  filter: drop-shadow(0px 2px 2px #333);
}